html {
    background-image: url('https://3.bp.blogspot.com/-3JzsqtVmmGo/UxSryP2dN8I/AAAAAAAAF7c/VL9Fb5_qFhw/s1600/seamless-light-gray-material-background.jpg');
  }

body {
    background: url(assets/images/offwhitebg.jpg);
    background-repeat: repeat !important;
    margin-bottom: 80px;
}



/*Navbar Fixes*/
.navbar-brand, h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topbar {
    height: 60px;
    line-height: 60px;
}

.navbar-custom {
    border-bottom: 2px solid lightgray;
    background-color: #4aaaa5;
}

.navbar-custom-2 {
    background-color:#666;
    color: #777;
    font-size: 18px;
   }

.white:link {
    color: white;
    background-color:  #4aaaa5;
}

            /* visited link */
.white:visited {
    color: white;
    background-color:  #4aaaa5;
}

            /* mouse over link */
.white:hover {
    color: white;
    background-color:  #4aaaa5 !important;
}

            /* selected link */
.white:active {
    color: white;
    background-color:  #4aaaa5;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}



/*Main Panel*/
.about-me {
    border: 2px solid lightgray;
}

.abm {
    font-size: 24px;
    font-weight: 600;
}

.prof-pic {
    margin-bottom: 5px;
}

.bio {
    margin: 0 10px 10px 10px;
    font-size: 16px;
}

.project-title {
    background-color: #4aaaa5;
    width: 75%;
    height: 40px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    margin: auto;
}

.centered {
    position: absolute;
    bottom: 15%;
    text-align: center;
}



/*Connect With Me*/
.connect-icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.stuff {
    margin-bottom: 100px;
}

.cwm {
    font-size: 18px;
    font-weight: 600;
}



/*Bottom Content*/
.copyright {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-top: 5px solid #4aaaa5;
}



/*MISC*/
.teal {
    color:  #4aaaa5;
}

