.about-me {
    border: 2px solid lightgray;
}

.connect-icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.copyright {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-top: 2px solid lightgray;
}